language: php

branches:
  # Only test the master branch and SemVer tags.
  only:
    - master
    - /^[[:digit:]]+\.[[:digit:]]+\.[[:digit:]]+.*$/

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0

sudo: false

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

install:
  - echo "disable_functions = " >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini

before_script:
  - composer install

script:
  - vendor/bin/phpcs --standard=PSR2 -n src
  - vendor/bin/phpunit

after_success:
  - travis_retry php vendor/bin/coveralls -v
